In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hhhhk\anaconda3\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
from mysql.connector import Error

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

try:
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='mio123'
    )

    if connection.is_connected():
        db_info = connection.get_server_info()
        print(f"Connected to MySQL Server version {db_info}")
        
        # Your SQL statements
        sql_script = '''
        DROP DATABASE IF EXISTS pizza_ordering_system;
        CREATE DATABASE pizza_ordering_system;
        USE pizza_ordering_system;

        DROP TABLE IF EXISTS Delivery_Assignment;
        DROP TABLE IF EXISTS Order_Item;
        DROP TABLE IF EXISTS `Order`;
        DROP TABLE IF EXISTS Discount_Code;
        DROP TABLE IF EXISTS Pizza_Ingredient;
        DROP TABLE IF EXISTS Ingredient;
        DROP TABLE IF EXISTS Menu_Item;
        DROP TABLE IF EXISTS Delivery_Area;
        DROP TABLE IF EXISTS Delivery_Person;
        DROP TABLE IF EXISTS Customer;
        DROP TABLE IF EXISTS Earnings_Report;
        
        CREATE TABLE Customer (
            customer_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100),
            gender VARCHAR(10),
            birthdate DATE,
            phone_no VARCHAR(20),
            address VARCHAR(255),
            postal_code VARCHAR(10),
            password VARCHAR(100),
            pizzas_ordered INT DEFAULT 0,
            last_order_date DATE
        );
        
        CREATE TABLE Delivery_Person (
            delivery_person_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100),
            phone_no VARCHAR(20),
            available_after DATETIME
        );
        
        CREATE TABLE Delivery_Area (
            area_id INT AUTO_INCREMENT PRIMARY KEY,
            postal_code VARCHAR(10)
        );
        
        CREATE TABLE Delivery_Assignment (
            delivery_person_id INT,
            area_id INT,
            FOREIGN KEY (delivery_person_id) REFERENCES Delivery_Person(delivery_person_id),
            FOREIGN KEY (area_id) REFERENCES Delivery_Area(area_id)
        );
        
        CREATE TABLE Menu_Item (
            menu_item_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100),
            type ENUM('pizza', 'drink', 'dessert'),
            base_price DECIMAL(6,2),
            is_vegetarian BOOLEAN,
            is_vegan BOOLEAN
        );
        
        CREATE TABLE Ingredient (
            ingredient_id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(100),
            cost DECIMAL(5,2),
            is_vegan BOOLEAN,
            is_vegetarian BOOLEAN
        );
        
        CREATE TABLE Pizza_Ingredient (
            pizza_id INT,
            ingredient_id INT,
            FOREIGN KEY (pizza_id) REFERENCES Menu_Item(menu_item_id),
            FOREIGN KEY (ingredient_id) REFERENCES Ingredient(ingredient_id)
        );
        
        CREATE TABLE Discount_Code (
            code VARCHAR(20) PRIMARY KEY,
            discount_amount DECIMAL(4,2),
            is_used BOOLEAN DEFAULT FALSE,
            expiry_date DATE
        );
        
        CREATE TABLE `Order` (
            order_id INT AUTO_INCREMENT PRIMARY KEY,
            customer_id INT,
            order_date DATETIME,
            status ENUM('being prepared', 'in process', 'out for delivery', 'delivered', 'cancelled'),
            total_price DECIMAL(8,2),
            discount_applied DECIMAL(8,2),
            estimated_delivery_time DATETIME,
            delivery_person_id INT,
            is_birthday_order BOOLEAN,
            can_cancel BOOLEAN DEFAULT TRUE,
            has_pizza BOOLEAN NOT NULL DEFAULT TRUE,
            FOREIGN KEY (customer_id) REFERENCES Customer(customer_id),
            FOREIGN KEY (delivery_person_id) REFERENCES Delivery_Person(delivery_person_id)
        );
        
        CREATE TABLE Order_Item (
            order_item_id INT AUTO_INCREMENT PRIMARY KEY,
            order_id INT,
            menu_item_id INT,
            quantity INT,
            price DECIMAL(8,2),
            FOREIGN KEY (order_id) REFERENCES `Order`(order_id),
            FOREIGN KEY (menu_item_id) REFERENCES Menu_Item(menu_item_id)
        );
        
        CREATE TABLE Earnings_Report (
            report_id INT AUTO_INCREMENT PRIMARY KEY,
            report_date DATE,
            total_earnings DECIMAL(10,2),
            region VARCHAR(100),
            gender VARCHAR(10),
            age_group INT
        );
        
        INSERT INTO Customer (name, gender, birthdate, phone_no, address, postal_code, password, pizzas_ordered, last_order_date) 
        VALUES ('John Doe', 'Male', '1990-06-15', '1234567890', '123 Pizza St', '12345', 'password123', 12, '2023-09-20');
        
        INSERT INTO Delivery_Person (name, phone_no, available_after) 
        VALUES ('Jane Smith', '9876543210', '2023-09-20 12:00:00');
        
        INSERT INTO Delivery_Area (postal_code) VALUES ('12345'), ('67890');
        
        INSERT INTO Delivery_Assignment (delivery_person_id, area_id) 
        VALUES (1, 1);
        
        INSERT INTO Ingredient (name, cost, is_vegan, is_vegetarian) 
        VALUES ('Tomato', 0.50, TRUE, TRUE), ('Mozzarella', 1.00, FALSE, TRUE), 
               ('Pepperoni', 1.50, FALSE, FALSE), ('Vegan Cheese', 1.50, TRUE, TRUE);
        
        INSERT INTO Menu_Item (name, type, base_price, is_vegetarian, is_vegan) 
        VALUES ('Margherita', 'pizza', 8.00, TRUE, FALSE),
               ('Pepperoni', 'pizza', 10.00, FALSE, FALSE),
               ('Vegan Delight', 'pizza', 9.50, TRUE, TRUE);
        
        INSERT INTO Menu_Item (name, type, base_price, is_vegetarian, is_vegan) 
        VALUES ('Coca Cola', 'drink', 2.50, TRUE, TRUE), 
               ('Tiramisu', 'dessert', 5.00, FALSE, FALSE);
        
        INSERT INTO Discount_Code (code, discount_amount, expiry_date) 
        VALUES ('DISCOUNT10', 10.00, '2023-12-31');
        '''
        
        # Split the script into individual statements
        statements = sql_script.split(';')
        
        # Execute each statement
        for statement in statements:
            if statement.strip():
                execute_query(connection, statement)

except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version 8.0.39
The error '1007 (HY000): Can't create database 'pizza_ordering_system'; database exists' occurred
Query executed successfully
The error '1050 (42S01): Table 'customer' already exists' occurred
The error '1050 (42S01): Table 'delivery_person' already exists' occurred
The error '1050 (42S01): Table 'delivery_area' already exists' occurred
Query executed successfully
The error '1050 (42S01): Table 'menu_item' already exists' occurred
The error '1050 (42S01): Table 'ingredient' already exists' occurred
The error '1050 (42S01): Table 'pizza_ingredient' already exists' occurred
The error '1050 (42S01): Table 'discount_code' already exists' occurred
The error '1050 (42S01): Table 'order' already exists' occurred
The error '1050 (42S01): Table 'order_item' already exists' occurred
The error '1050 (42S01): Table 'earnings_report' already exists' occurred
The error '1054 (42S22): Unknown column 'phone_no' in 'field list'' occurred
The error '1054 (42S22): Unknown column 'phone_no' in 'field list'' occurred
Query executed successfully
The error '1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`pizza_ordering_system`.`delivery_assignment`, CONSTRAINT `delivery_assignment_ibfk_1` FOREIGN KEY (`delivery_person_id`) REFERENCES `delivery_person` (`delivery_person_id`))' occurred
The error '1054 (42S22): Unknown column 'is_vegetarian' in 'field list'' occurred
Query executed successfully
Query executed successfully
Query executed successfully
MySQL connection is closed

In [3]:
import mysql.connector
from datetime import datetime, timedelta

# Connect to MySQL Database
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="mio123",
    database="pizza_ordering_system"
)

cursor = db.cursor()

# Display Menu Items
def display_menu():
    print("=== Pizza Menu ===")
    cursor.execute("SELECT menu_item_id, name, base_price, is_vegetarian, is_vegan FROM Menu_Item WHERE type='pizza'")
    pizzas = cursor.fetchall()
    for pizza in pizzas:
        is_veg = 'Vegetarian' if pizza[3] else ('Vegan' if pizza[4] else 'Non-Vegetarian')
        print(f"{pizza[0]}. {pizza[1]} - {is_veg} - €{pizza[2]:.2f}")
    
    print("\n=== Drink Menu ===")
    cursor.execute("SELECT menu_item_id, name, base_price FROM Menu_Item WHERE type='drink'")
    drinks = cursor.fetchall()
    for drink in drinks:
        print(f"{drink[0]}. {drink[1]} - €{drink[2]:.2f}")
    
    print("\n=== Dessert Menu ===")
    cursor.execute("SELECT menu_item_id, name, base_price FROM Menu_Item WHERE type='dessert'")
    desserts = cursor.fetchall()
    for dessert in desserts:
        print(f"{dessert[0]}. {dessert[1]} - €{dessert[2]:.2f}")

# Place an order
def place_order():
    customer_id = int(input("Enter your customer ID: "))
    
    # Check if birthday
    cursor.execute(f"SELECT birthdate FROM Customer WHERE customer_id = {customer_id}")
    birthdate = cursor.fetchone()[0]
    is_birthday = birthdate.month == datetime.today().month and birthdate.day == datetime.today().day
    
    display_menu()
    
    # Select items
    pizza_ids = list(map(int, input("\nSelect pizza IDs (comma separated): ").split(',')))
    drink_ids = list(map(int, input("\nSelect drink IDs (comma separated): ").split(',')))
    dessert_ids = list(map(int, input("\nSelect dessert IDs (comma separated): ").split(',')))
    
    # Calculate total price
    total_price = 0
    for pizza_id in pizza_ids:
        cursor.execute(f"SELECT base_price FROM Menu_Item WHERE menu_item_id = {pizza_id}")
        total_price += cursor.fetchone()[0]
    for drink_id in drink_ids:
        cursor.execute(f"SELECT base_price FROM Menu_Item WHERE menu_item_id = {drink_id}")
        total_price += cursor.fetchone()[0]
    for dessert_id in dessert_ids:
        cursor.execute(f"SELECT base_price FROM Menu_Item WHERE menu_item_id = {dessert_id}")
        total_price += cursor.fetchone()[0]
    
    # Apply Birthday Promo
    if is_birthday:
        print("Happy Birthday! You get a free pizza and drink!")
        total_price -= 10.00  # assuming €10 for pizza and drink
    
    # Apply discount code if available
    discount_code = input("Enter discount code (if any): ").strip()
    if discount_code:
        cursor.execute(f"SELECT discount_amount, is_used FROM Discount_Code WHERE code = '{discount_code}'")
        discount_info = cursor.fetchone()
        if discount_info and not discount_info[1]:
            discount_amount = discount_info[0]
            total_price -= discount_amount
            cursor.execute(f"UPDATE Discount_Code SET is_used = TRUE WHERE code = '{discount_code}'")
        else:
            print("Invalid or already used discount code.")
    
    # Add order to database
    order_query = """
    INSERT INTO `Order` (customer_id, order_date, total_price, is_birthday_order) 
    VALUES (%s, %s, %s, %s)
    """
    order_values = (customer_id, datetime.now(), total_price, is_birthday)
    cursor.execute(order_query, order_values)
    order_id = cursor.lastrowid
    
    # Add order items
    for pizza_id in pizza_ids:
        cursor.execute(f"INSERT INTO Order_Item (order_id, menu_item_id, quantity, price) VALUES ({order_id}, {pizza_id}, 1, (SELECT base_price FROM Menu_Item WHERE menu_item_id = {pizza_id}))")
    for drink_id in drink_ids:
        cursor.execute(f"INSERT INTO Order_Item (order_id, menu_item_id, quantity, price) VALUES ({order_id}, {drink_id}, 1, (SELECT base_price FROM Menu_Item WHERE menu_item_id = {drink_id}))")
    for dessert_id in dessert_ids:
        cursor.execute(f"INSERT INTO Order_Item (order_id, menu_item_id, quantity, price) VALUES ({order_id}, {dessert_id}, 1, (SELECT base_price FROM Menu_Item WHERE menu_item_id = {dessert_id}))")
    
    db.commit()
    
    print(f"\nYour total is €{total_price:.2f}. Thank you for your order!")

# Delivery Tracking
def track_delivery(order_id):
    order = session.query(Order).filter(Order.order_id == order_id).first()
    if order:
        print(f"Order Status: {order.status}")
    else:
        print("Order not found.")

# Earnings Report
def generate_earnings_report():
    total_earnings = session.query(func.sum(Order.total_price)).scalar()
    print(f"Total earnings to date: €{total_earnings:.2f}")

# Main Order System Execution
if __name__ == "__main__":
    place_order()  # Call the order placement function
    
# Closing database connection after use
cursor.close()
db.close()

Enter your customer ID:  1

AttributeError: 'NoneType' object has no attribute 'month'